<!DOCTYPE html>
<html>
    <body>
        Welcome to Tenfren {{name}}
        <p>
            To reset your new password, please enter the verification code below.
        </p>
        <p>
            The code will expire in {{expiry-period}}.
        </p>
        <p style="color:blue">
            {{token}}
        </p>
        <p>
            If you didn’t make this request, don’t worry. Your account will not be changed.
        </p>
        <p>
            Regards,
        </p>
        The Tenfren Team.
    </body>
</html>
